@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("../fonts/OpenSans-regular.woff2") format("woff2"),
    url("../fonts/OpenSans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("../fonts/OpenSans-bold.woff2") format("woff2"),
    url("../fonts/OpenSans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Semibold"),
    url("../fonts/OpenSans-semibold.woff2") format("woff2"),
    url("../fonts/OpenSans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*:focus, *:focus-visible {
  outline: 0;
}

body {
  font-family: "OpenSans", sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1700px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

:root {
  --violet: #9D5CD0;
  --darkViolet: #7943A4;
  --lightViolet: #C283F3;
  --black: #000;
  --white: #fff;
  --darkGray: #333333;
}

/* header */

.header {
  position: relative;
  z-index: 3;
}

.header__container-up {
  background-color: var(--black);
}

.header__search-btn--mobile {
  display: none;
}

.header__up {
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.header__up-nav--mobile {
  display: none;
}

.header__search--mobile {
  display: none;
}

.header__burger {
  display: none;
  width: 36px;
  height: 28px;
  background-image: url(../img/burger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__logo-link {
  display: flex;
  margin-right: 180px;
}

.header__list {
  font-weight: 600;
  max-width: 896px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
}

.header__list-item:not(:last-child) {
  margin-right: 62px;
}

.header__list-link {
  transition: color .3s ease, background-color .3s ease;
}

.header__list-link:focus-visible {
  background-color: var(--darkViolet);
}

.header__list-link:hover {
  color: var(--lightViolet);
}

.header__list-link:active {
  color: var(--darkViolet);
}

.header__link-entry {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-left: auto;
  transition: color .3s, background-color .3s;
}

.header__link-entry svg {
  margin-right: 7px;
}

.header__link-entry svg path {
  transition: fill .3s ease;
}

.header__link-entry:focus-visible {
  background-color: var(--darkViolet);
}

.header__link-entry:hover {
  color: var(--lightViolet);
}

.header__link-entry:hover svg path {
  fill: var(--lightViolet);
}

.header__link-entry:active {
  color: var(--darkViolet);
}

.header__link-entry:active svg path {
  fill: var(--darkViolet);
}

.header__container-down {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__down {
  min-height: 70px;
  padding-top: 21px;
  padding-bottom: 21px;
}

.header__down-nav {
  margin-right: auto;
  max-width: 1050px;
}

.header__list-down {
  flex-wrap: wrap;
}

.header__item-down {
  position: relative;
}

.header__item-down:not(:last-child) {
  margin-right: 97px;
}

.header__down-btn {
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  transition: color .5s, background-color .3s;
  padding-right: 3px;
}

.header__down-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 6px;
  margin-bottom: 4px;
  transform: rotate(135deg);
  transition: transform .5s ease;
  transform-origin: center;
}

.header__down-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.header__down-btn:hover {
  color: var(--violet);
}

.header__down-btn:focus-visible {
  background-color: var(--darkViolet);
}

.header__down-btn.is-active {
  color: var(--darkViolet);
}

.header__dropdown {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  width: 300px;
  min-height: 300px;
  display: none;
  top: 47px;
}

.header__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.header__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.header__dropdown-wrap {
  width: 240px;
  height: 220px;
}

.header__dropdown.is-active {
  position: absolute;
}

.header__dropdown-item {
  width: 220px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__dropdown-tintoretto {
  background-image: url("../img/dropdown__tint.jpg");
}

.header__dropdown-fridrih {
  background-image: url("../img/dropdown__frid.jpg");
}

.header__dropdown-leo {
  background-image: url("../img/dropdown__leo.jpg");
}

.header__dropdown-verrokkio {
  background-image: url("../img/dropdown__ver.jpg");
}

.header__dropdown-mone {
  background-image: url("../img/dropdown__mone.jpg");
}

.header__dropdown-sisl {
  background-image: url("../img/dropdown__sisl.jpg");
}

.header__dropdown-mane {
  background-image: url("../img/dropdown__mane.jpg");
}

.header__dropdown-ren {
  background-image: url("../img/dropdown__ren.jpg");
}

.header__dropdown-gog {
  background-image: url("../img/dropdown__gog.jpg");
}

.header__dropdown-sezan {
  background-image: url("../img/dropdown__sezan.jpg");
}

.header__dropdown-gogen {
  background-image: url("../img/dropdown__gogen.jpg");
}

.header__dropdown-sera {
  background-image: url("../img/dropdown__sera.jpg");
}

.header__dropdown-kandin {
  background-image: url("../img/dropdown__kandin.jpg");
}

.header__dropdown-marin {
  background-image: url("../img/dropdown__marin.jpg");
}

.header__dropdown-malev {
  background-image: url("../img/dropdown__malev.jpg");
}

.header__dropdown-pikas {
  background-image: url("../img/dropdown__pikas.jpg");
}

.header__dropdown-prat {
  background-image: url("../img/dropdown__prat.jpg");
}

.header__dropdown-sever {
  background-image: url("../img/dropdown__sever.jpg");
}

.header__dropdown-balla {
  background-image: url("../img/dropdown__balla.jpg");
}

.header__dropdown-karra {
  background-image: url("../img/dropdown__karra.jpg");
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.header__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.header__item-link {
  display: flex;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  width: 100%;
  height: 100%;
  padding-left: 14px;
  align-items: center;
}

.header__item-link:hover {
  border: 2px solid var(--violet);
}

.header__item-link:focus-visible {
  border: 2px solid var(--violet);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__item-link:active {
  border: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.header__search {
  justify-content: center;
  align-items: center;
}

.header__search-btn {
  width: 22px;
  height: 22px;
  background-image: url("../img/header__search.svg");
  background-position: center center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  margin-right: 9px;
}

.header__search-input::-webkit-input-placeholder {
  color: var(--white);
}

.header__search-input::-moz-placeholder {
  color: var(--white);
}

.header__search-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-left: -10px;
  min-width: 218px;
  outline: 0;
  color: var(--white);
  transition: border .3s;
}

.header__search-input:hover {
  border-bottom: 1px solid var(--lightViolet);
}

.header__search-input:focus-visible {
  border-bottom: 1px solid var(--lightViolet);
}

.header__search-input:active {
  border-bottom: 1px solid var(--darkViolet);
}

/* hero */
.hero {
  position: relative;
  min-height: 800px;
  margin-top: -170px;
  z-index: 1;
  overflow: hidden;
}

.slider.swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: resize;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: -1;
  overflow: hidden;
}

.hero .slide {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: lightgray;
}

.slide-1 {
  background-image: url("../img/hero__background-1.jpg");
}

.slide-2 {
  background-image: url("../img/hero__background-2.jpg");
}

.slide-3 {
  background-image: url("../img/hero__background-3.jpg");
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero__container {
  padding-top: 241px;
  padding-bottom: 122px;
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: var(--white);
  max-width: 597px;
  margin-bottom: 18px;
}

.hero__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 167%;
  color: var(--white);
  max-width: 579px;
  margin-bottom: 92px;

}

.hero__button {
  position: relative;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 314px;
  min-height: 70px;
  background-color: var(--violet);
  border-radius: 100px;
  transition: border .1s, background-color .3s;
}

.hero__button:hover {
  border: 3px solid #D1A9F0;
}

.hero__button::before {
  content: "";
  position: absolute;
  border: 3px solid #C283F3;
  border-radius: 100px;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  transition: opacity .2s;
  opacity: 0;
}

.hero__button:focus-visible::before {
  opacity: 1;
}


.hero__button:active {
  border: 3px solid #D1A9F0;
  background-color: var(--darkViolet);
}


/* about-us */
.about-us__container {
  padding-top: 80px;
  padding-bottom: 70px;
}

.about-us__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--darkGray);
  margin-bottom: 15px;
}

.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--darkGray);
  max-width: 1080px;
}


/* gallery */
.gallery {
  min-height: 831px;
  background-image: url("../img/galery__back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery__container {
  min-height: inherit;
}

.gallery__content-left {
  min-height: 100%;
  width: 400px;
  flex-direction: column;
  margin-right: 50px;
}

.gallery__title {
  max-width: 190px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--white);
  margin-bottom: 16px;
}

.gallery__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  margin-bottom: 10px;
}

.choices {
  margin-bottom: auto;
}

.choices__inner {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-weight: 400;
  color: var(--white);
  font-size: 16px;
  line-height: 32px;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 6px;
  padding: 0 15px;
}

.choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-focused .choices__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown {
  background: transparent;
  border: 1px solid #999;
  color: #999999;
  margin-top: 1px;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: inherit;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices[data-type*=select-one]::after {
  border: 0;
  background-image: url("../img/gallery__drop.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 15px;
  width: 15px;
  margin-top: -7px;
}

.choices[data-type*=select-one].is-open::after {
  transform: rotate(180deg);
}

.is-focused .choices__inner {
  border-color: var(--white);
}

.is-open .choices__inner {
  border-color: var(--white);
}

.is-open .choices__inner {
  border-radius: 6px;
}

.is-open .choices__list--dropdown {
  border-radius: 6px;
  border-color: #999;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown .choices__item {
  padding: 5px 20px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

.is-selected {
  display: none;
}

.gallery__checkbox span {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: color .3s ease;
  cursor: pointer;
}

.gallery__checkbox:hover span {
  color: var(--lightViolet);
}

.gallery__checkbox:hover span::before {
  border-color: var(--lightViolet);
}

.gallery__checkbox:focus-visible span {
  color: var(--lightViolet);
}

.gallery__checkbox:focus-visible span::before {
  border-color: var(--lightViolet);
}


.gallery__checkbox:not(:last-child) {
  margin-bottom: 20px;
}

.gallery__checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.gallery__checkbox span::before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  margin-right: 12px;
  background-size: 6px 6px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: border .3s ease;
}

.gallery__checkbox input:checked + span::before {
  border: 1px solid var(--lightViolet);
  background-image: url("../img/checkbox.svg");
}

.gallery__checkbox input:checked + span {
  color: var(--lightViolet);
}

.gallery__checkbox input:focus-visible + span::before {
  border: 1px solid var(--lightViolet);
}

.gallery__checkbox input:focus-visible + span {
  color: var(--lightViolet);
}

.gallery__content-right {
  max-width: 1150px;
  width: 100%;
  overflow: hidden;
  padding-top: 25px;
}

.gallery__btns {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.swiper-pagination--right {
  max-width: 74px;
  text-align: center;
  color: var(--white);
}

.gallery__btns--prev, .gallery__btns--next {
  cursor: pointer;
  background-color: #666;
  background-size: 12px 12px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.sw-btn {
  transition: background-color .3s;
}

.sw-btn:hover:not(.swiper-button-disabled) {
  background-color: var(--violet);
}

.sw-btn:focus-visible:not(.swiper-button-disabled) {
  outline: 2px solid #000;
}

.sw-btn:active:not(.swiper-button-disabled) {
  outline: 2px solid #000;
  background-color: var(--darkViolet);
}

.sw-btn.swiper-button-disabled {
  display: block;
  opacity: 0.5;
  cursor: not-allowed;
}

.gallery__btns--prev {
  background-image: url("../img/swiper__prev.svg");
}

.gallery__btns--next {
  background-image: url("../img/swiper__next.svg");
}

.slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.gallery__content-right .swiper-wrapper {
  height: 750px;
}

.gallery__content-right .swiper-slide {
  background-color: grey;
  position: relative;
  cursor: pointer;
  min-height: calc((100% - 50px) / 2);
  height: calc((100% - 50px) / 2);
}

.gallery__content-right .swiper-slide::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/loupe.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 81px 79px;
  opacity: 0;
  transition: opacity .3s;
}

.gallery__content-right .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  opacity: 0;
  transition: opacity .3s;
}

.gallery__content-right .swiper-slide:hover::before {
  opacity: 1;
}

.gallery__content-right .swiper-slide:active::after {
  border: 2px solid var(--darkViolet);
  opacity: 1;
}

.gallery__content-right .swiper-slide:focus-visible::after {
  border: 3px solid var(--darkViolet);
  background: none;
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .gallery__content-right {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .gallery__content-right .swiper-wrapper {
    order: 1;
    margin-bottom: 40px;
  }
  .swiper-right-btns {
    order: 2;
    margin-bottom: 0;
  }
  .swiper-left--content {
    margin-bottom: 40px;
  }

  .accordion__columns-3 .accordion__list:not(:last-child) {
    margin-right: 0;
  }
}


/* catalog */

.catalog {
  padding-top: 81px;
  padding-bottom: 80px;
}

.catalog__top {
  margin-bottom: 11px;
}

.catalog__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 15px;
}

.tabs-item--active {
  display: block;
}

.tabs-nav {
  align-items: center;
}

.tabs-nav__item:not(:last-child) {
  margin-right: 30px;
}

.tabs-nav__btn {
  width: 66px;
  height: 66px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 46px 46px;
}

.tabs-nav__btn--active {
  border: 2px solid var(--darkViolet);
  border-radius: 100%;
}

.tabs-nav__btn--france {
  background-image: url("../img/catalog__france.svg");
}

.tabs-nav__btn--germany {
  background-image: url("../img/catalog__germany.svg");
}

.tabs-nav__btn--italy {
  background-image: url("../img/catalog__italy.svg");
}

.tabs-nav__btn--russia {
  background-image: url("../img/catalog__russia.svg");
}

.tabs-nav__btn--belgium {
  background-image: url("../img/catalog__belgium.svg");
}

.tabs-item__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 1080px;
  margin-bottom: 39px;
}

.tabs-item__img {
  margin-bottom: 27px;
}

.tabs-item__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 5px;
}

.tabs-item__date {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  margin-bottom: 7px;
}

.tabs-item__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 749px;
}

.tabs-item__left {
  margin-right: 50px;
}

.tabs-item__right {
  width: 50%;
  flex-shrink: 0;
}

.accordion__info {
  flex-direction: column;
  justify-content: center;
}

.accordion__info-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 5px;
  color: var(--darkGray);
}

.accordion__info-text {
  max-width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
  color: var(--darkGray);
}

.accordion__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ECECEC;
  transition: background-color .5s ease;
}

.accordion__dropdown svg {
  transition: transform .3s ease;
}

.ui-widget-content a {
  color: var(--violet);
}

.accordion__columns-1 {
  display: none;
}

.accordion__columns-2 {
  display: none;
}

.accordion__columns-3 {
  display: flex;
}

.accordion__list:not(:last-child) {
  margin-right: 60px;
}

.accordion__info-gallery {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.accordion__content-img {
  margin-right: 24px;
}

.ui-icon {
  display: none;
}

.ui-widget {
  font-family: "OpenSans", sans-serif;
}

.accordion__item .accordion__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--darkGray);
  transition: border 3s, color .3s, background-color .3s;
}

.accordion__item .accordion__link:hover {
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
}

.accordion__item .accordion__link:focus-visible {
  background-color: var(--violet);
  color: var(--white);
}

.accordion__item .accordion__link:active {
  color: var(--darkViolet);
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0;
  border: none;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: 32px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: var(--darkGray);
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  margin: 0;
  margin-top: -1px;
}

.accordion__title {
  cursor: pointer;
}

.accordion__text {
  transition: color .3s, background-color .3s;
}

.ui-accordion .ui-accordion-header:hover {
  color: var(--violet);
  border-top: 1px solid var(--violet);
  border-bottom: 1px solid var(--violet);
  position: relative;
  z-index: 2;
}

.ui-accordion .ui-accordion-header:hover .accordion__dropdown {
  background-color: #D1A9F0;
}

.ui-accordion .ui-accordion-header:focus-visible .accordion__dropdown {
  background-color: #D1A9F0;
}

.ui-accordion .ui-accordion-header:focus-visible .accordion__text {
  background-color: var(--violet);
  color: var(--white);
}

.ui-state-default {
  background: none;
  border: none;
}

.ui-accordion .ui-state-active {
  border-color: var(--darkViolet);
  color: var(--darkViolet);
}

.ui-accordion .ui-state-active .accordion__dropdown {
  border: 2px solid var(--violet);
  background-color: #D1A9F0;
}

.ui-accordion .ui-state-active .accordion__dropdown svg {
  transform: rotate(180deg);
}


/* events */
.events {
  margin-bottom: 82px;
}

.events__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--darkGray);
  margin-bottom: 16px;
}

.events__item {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 700px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
}

.events__item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 15px 50px 40px 49px;
}

.events__place {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.events__date {
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  margin-bottom: 14px;
}

.events__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--darkGray);
  margin-bottom: 8px;
}

.events__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--darkGray);
}

.events__more {
  align-self: flex-start;
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
  transition: border .1s, color .3s, background-color .3s;
}

.events__more:hover {
  color: var(--darkViolet);
  border-color: var(--darkViolet);
}

.events__more:focus-visible {
  color: var(--white);
  background-color: var(--violet);
}

.events__more:active {
  color: var(--darkGray);
  border-color: var(--darkGray);
}

.container__swiper {
  position: relative;
  z-index: 2;
}

.events__slider {
  overflow: hidden;
}

.swiper-pagination-bullets {
  display: none;
}

.events__button:hover {
  border: 2px solid var(--violet);
}

.events__button:focus-visible {
  background-color: #D1A9F0;
}

.events__button:active {
  background-color: #D1A9F0;
  border: 2px solid var(--violet);
}

.events__button-next, .events__button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ECECEC;
  transition: background-color .5s, border .1s;
  z-index: 1;
}

.swiper-button-disabled {
  display: none;
}

.events__button-next {
  right: 0;
  transform: translate(50%, -50%);
}

.events__button-next svg {
  transform: rotate(-90deg);
}

.events__button-prev {
  left: 0;
  transform: translate(-50%, -50%);
}

.events__button-prev svg {
  transform: rotate(90deg);
}


/* projects */
.projects {
  margin-bottom: 80px;
}

.projects__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--darkGray);
  margin-bottom: 16px;
}

.projects__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-width: 1078px;
  margin-bottom: 20px;
}

.projects__icon {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  transition: fill .3s;
  cursor: pointer;
}

.projects__icon path {
  transition: stroke .3s ease, fill .3s ease;
}

.projects__icon:hover {
  fill: #D1A9F0;
}

.projects__icon:focus-visible {
  fill: #D1A9F0;
}

.projects__icon:active {
  fill: var(--violet);
}

.projects__icon:active .projects__path-2 {
  fill: var(--white);
}

.tippy-box[data-theme~='violet'] {
  text-align: center;
  background-color: var(--violet);
  color: var(--white);
  border-radius: 0;
  padding: 5px;
}

.tippy-box[data-theme~='violet'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--violet);
}

.projects__info-link {
  color: var(--violet);
  transition: border .1s, color .3s, background-color .3s;
}

.projects__info-link:hover {
  border-bottom: 1px solid var(--violet);
}

.projects__info-link:focus-visible {
  background-color: var(--darkViolet);
}

.projects__info-link:active {
  border-bottom: 1px solid var(--darkViolet);
  color: var(--darkViolet);
}

.projects__swiper {
  overflow: hidden;
  width: 91%;
}

.projects__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--darkGray);
  margin-bottom: 23px;
}

.projects__swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__button:hover {
  border: 2px solid var(--violet);
}

.projects__button:focus-visible {
  background-color: #D1A9F0;
}

.projects__button:active {
  background-color: #D1A9F0;
  border: 2px solid var(--violet);
}

.projects__button-prev, .projects__button-next {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #ECECEC;
  transition: background-color .5s, border .1s;
}

.projects__button-prev {
  transform: rotate(90deg);
}

.projects__button-next {
  transform: rotate(-90deg);
}

.projects__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 45px 103px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
}

 .projects__cards:hover .projects__img {
  filter: none;
  opacity: 1;
}

.projects__cards:focus-visible {
  border-color: var(--violet);
}

.projects__cards:active {
  border-color: var(--violet);
}

.projects__cards:active .projects__img {
  filter: none;
  opacity: 1;
}

.projects__img {
  filter: grayscale(100%);
  opacity: 40%;
  transition: opacity .3s, filter .3s;
}


/* contacts */
.contacts {
  border: 1px solid #cacaca;
  padding: 36px 0;
}

.contacts__container {
  display: flex;
  align-items: center;
}

.contacts__left {
  max-width: 256px;
  margin-right: 80px;
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--darkGray);
}

.contacts__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
}

.contacts__middle {
  max-width: 916px;
  margin-right: 80px;
}

.contacts__input {
  width: 270px;
  height: 50px;
  border: 1px solid var(--darkGray);
  border-radius: 100px;
  padding: 9px 24px;
  margin-right: 17px;
  transition: background-color .3s;
}

.contacts__input:hover {
  background-color: #EAEAEA;
}

.contacts__input:focus-visible {
  background-color: #EAEAEA;
}

.contacts__btn {
  position: relative;
  color: var(--violet);
  background-color: var(--white);
  font-weight: 700;
  font-size: 18px;
  padding: 12.5px 33px;
  border: 2px solid var(--violet);
  border-radius: 100px;
  transition: color .3s, background-color .3s, border-color .3s;
}

.contacts__btn:hover {
  border-color: var(--lightViolet);
  color: var(--lightViolet);
}

.contacts__btn::before {
  content: "";
  position: absolute;
  border: 3px solid #C283F3;
  border-radius: 100px;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  transition: opacity .2s;
  opacity: 0;
}

.contacts__btn:focus-visible::before {
  opacity: 1;
}


.contacts__btn:active {
  background-color: var(--darkViolet);
  color: var(--white);
}

.contacts__right {
  max-width: 276px;
}

.contacts__right .contacts__subtitle {
  margin-bottom: 5px;
}


.contacts__social {
  display: flex;
}

.contacts__social-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__social-link {
  transition: opacity .3s, border .1s;
}

.contacts__social-link:hover {
  opacity: 50%;
}

.contacts__social-link:focus-visible {
  opacity: 50%;
}

.contacts__social-link:active {
  opacity: 1;
}

.contacts__social-link:active img {
  outline: 1px solid #9643A4;
}

.contacts__social-link img {
  border-radius: 100px;
}

/* map */
#map {
  width: 100%;
  height: 696px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* footer */
.footer {
  background-color: var(--black);
  padding: 51px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__item-link svg path {
  transition: fill .3s;
}

.footer__item-link:hover svg path {
  fill: var(--white);
}

.footer__item-link:focus-visible svg path {
  fill: var(--white);
}

.footer__item-link:active svg path {
  fill: var(--violet);
}

@media (max-width:1719px) {
  .contacts__container {
    justify-content: space-between;
  }

  .contacts__left {
    margin-right: 0;
  }

  .contacts__middle {
    margin-right: 0;
  }

  .contacts__input {
    margin-bottom: 5px;
  }
}

@media (max-width: 1499px) {
  .header__logo-link {
    margin-right: auto;
  }

  .header__list-item:not(:last-child) {
    margin-right: 15px;
  }

  .header__search-input {
    min-width: 0;
    width: 137px;
  }

  .header__item-down:not(:last-child) {
    margin-right: 17px;
  }

  .gallery {
    min-height: 0;
  }

  .gallery__container {
    min-height: 0;
  }

}

@media (max-width: 1024px) {
  .header__up {
    justify-content: space-between;
    padding-bottom: 28px;
  }

  .header__burger {
    display: block;
  }

  .header__up-nav--mobile {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    right: 0;
    height: 768px;
    padding-top: 37px;
  }

  .mobile-active {
    display: flex;
  }

  .header__up-button {
    width: 29px;
    height: 29px;
    background-image: url("../img/burger__close.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
  }

  .header__list--mobile {
    margin-bottom: 73px;
  }

  .header__link-entry--mobile {
    flex-grow: 0;
    align-self: flex-start;
    color: var(--white);
    width: 257px;
    height: 60px;
    background-color: var(--black);
    border-radius: 100px;
    border: 2px solid var(--violet);
  }

  .header__list--mobile {
    flex-direction: column;
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
  }

  .header__logo-link {
    margin-right: 0;
    width: 185px;
  }

  .header__logo-link img {
    width: 100%;
  }

  .header__link-entry {
    display: none;
  }

  .header__search--mobile {
    position: absolute;
    display: none;
    align-items: center;
    right: 50px;
  }

  .header__search--mobile-active {
    display: flex;
  }

  .header__search-btn--mobile.search__mobile--active {
    opacity: 0;
  }

  .header__search-btn--mobile {
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin-right: 0;
    background-image: url("../img/header__search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .header__search--mobile .header__search-btn--mobile {
    margin-right: 10px;
  }

  .header__up-nav {
    display: none;
  }

  .search {
    display: flex;
  }

  .header__search-input--mobile {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-left: -10px;
    min-width: 218px;
    outline: 0;
    color: var(--white);
    transition: border .3s;
    margin-right: 24px;
  }

  .header__search--close {
    background: url("../img/burger__close.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 23px;
    height: 23px;
  }

  .header__container-down {
    display: none;
  }

  .hero {
    margin-top: -137px;
  }

  .hero__container {
    padding-top: 250px;
    padding-bottom: 115px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__text {
    max-width: 661px;
    margin-bottom: 132px;
  }

  .about-us__container {
    padding-top: 81px;
  }

  .gallery {
    padding-top: 81px;
  }

  .gallery__content-left {
    width: 441px;
  }

  .gallery__content-right .swiper-wrapper {
    height: 314px;
  }

  .gallery__content-right .swiper-wrapper .swiper-slide {
    height: 100%;
  }

  .choices {
    margin-bottom: 105px;
  }

  .tabs-item__left {
    margin-right: 50px;
    width: calc(50% - 25px);
  }

  .tabs-item__right {
    width: calc(50% - 25px);
  }

  .accordion__columns-2 {
    display: flex;
    justify-content: space-between;
  }

  .accordion__columns-3 {
    display: none;
  }

  .events {
    padding-top: 3px;
  }

  .events__img {
    min-height: 198px;
  }

  .events__item {
    height: 682px;
    min-height: 100%;
  }

  .events__item-container {
    padding: 15px 33px 49px 33px;
  }

  .events__subtitle {
    margin-bottom: 10px;
  }

  .events__date {
    margin-bottom: 4px;
  }

  .events__place, .events__date {
    align-self: flex-end;
  }

  .events__button-next, .events__button-prev {
    display: none;
  }

  .events__slider {
    margin-bottom: 30px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: #666;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    display: flex;
    justify-content: center;
  }

  .projects__title {
    margin-bottom: 14px;
  }

  .projects__swiper {
    width: 89%;
  }

  .projects__cards {
    padding: 38px 87px;
    height: 128px;
  }

  .contacts {
    padding: 41px 0;
  }

  .contacts__subtitle {
    margin-bottom: 4px;
  }

  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__left {
    margin-bottom: 30px;
  }

  .contacts__middle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }

  .contacts__btn {
    padding: 12px 12px;
    width: 343px;
    height: 50px;
  }

  .contacts__input {
    margin-right: 0;
  }

  .footer {
    padding: 43px 0;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__item-link svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 990px) {
  .header__search--mobile {
    left: 50px;
    background-color: var(--black);
    height: 100px;
  }

  .header__search-btn--mobile {
    flex-shrink: 0;
  }

  .search {
    width: 100%;
  }

  .header__search-input--mobile {
    width: 100%;
  }

  .header__search--close {
    flex-shrink: 0;
  }

  .projects__swiper {
    width: 85%;
  }

  .projects__cards {
    padding: 27px;
  }

  .contacts__middle {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .contacts__input {
    width: 324px;
  }

  .contacts__btn {
    padding: 12px 30px;
  }
}

@media (max-width: 768px) {
  .header__search-btn--mobile {
    width: 27px;
    height: 27px;
  }

  .header__logo-link {
    width: 187px;
    height: 42px;
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__content-left {
    margin-bottom: 15px;
  }

  .gallery__content-right .swiper-wrapper {
    height: 328px;
  }

  .choices {
    max-width: 281px;
    margin-bottom: 40px;
  }

  .contacts__input {
    margin-right: 0;
  }

  .is-open .choices__list--dropdown {
    background-color: #000;
  }

  .gallery__content-left {
    width: 100%;
  }

  .tabs-item__content {
    flex-direction: column-reverse;
  }

  .tabs-item__text {
    margin-bottom: 22px;
  }

  .tabs-item__right {
    width: 100%;
    margin-bottom: 50px;
  }

  .tabs-item__left {
    margin-right: 0;
    width: 100%;
  }

  .tabs-item__img {
    margin-bottom: 29px;
  }

  .accordion__columns-3 {
    display: flex;
    justify-content: space-between;
  }

  .accordion__columns-2 {
    display: none;
  }

  .catalog {
    padding-bottom: 68px;
  }

  .projects__cards {
    height: 106px;
    padding: 27px;
  }

  .projects__swiper {
    width: 84%;
  }

  .events__item-container {
    padding: 15px 13px 49px 36px;
  }

  .events__info {
    max-width: 243px;
  }

  .events__subtitle {
    margin-bottom: 7px;
    max-width: 243px;
  }

  .projects__info {
    padding-right: 5px;
    margin-bottom: 28px;
  }

  .projects__subtitle  {
    margin-bottom: 29px;
  }

  .contacts__input  {
    margin-bottom: 13px;
  }

  .contacts__btn {
    width: 316px;
    padding: 12px 27px;
  }
}

@media (max-width: 689px) {
  .hero {
    min-height: 700px;
  }

  .hero__container {
    padding-bottom: 40px;
    padding-top: 180px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .hero__text {
    margin-bottom: 50px;
  }
}

@media (max-width: 587px) {
  .hero {
    min-height: 355px;
  }

  .hero__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .hero__button {
    width: 200px;
    min-height: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  .contacts__input {
    width: 100%;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__social {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__up {
    padding-bottom: 12px;
    padding-top: 12px;
    min-height: 0;
  }

  .header__up-nav--mobile {
    height: 600px;
    padding-bottom: 27px;
    padding-top: 15px;
  }

  .header__up-button {
    width: 15px;
    height: 15px;
    margin-bottom: 16px;
  }

  .header__link-entry--mobile {
    width: 115px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 30px;
  }

  .header__link-entry--mobile svg {
    width: 9px;
    height: 9px;
  }

  .header__list--mobile {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: auto;
  }

  .header__search--mobile {
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 75px;
    padding: 15px 20px 20px 20px;
  }

  .search {
    align-items:flex-end;
  }

  .header__search-btn--mobile {
    width: 18px;
    height: 18px;
  }

  .header__search--close {
    align-self: flex-end;
    width: 15px;
    height: 15px;
  }

  .header__logo-link {
    max-width: 97px;
    max-height: 22px;
  }

  .header__burger {
    width: 25px;
    height: 18px;
  }

  .header__container-up .header__search-btn {
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
  }

  .hero__container {
    text-align: center;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__text {
    font-size: 12px;
  }

  .about-us__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about-us__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .about-us__text {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .gallery__title {
    font-size: 28px;
    line-height: 38px;
  }

  .gallery__content-right {
    flex-direction: column-reverse;
  }

  .gallery__content-right .swiper-wrapper {
    height: 417px;
  }

  .gallery__btns {
    margin-bottom: 0;
    flex-shrink: 0;
    align-self: center;
    width: 130px;
  }

  .sw-btn {
    flex-shrink: 0;
  }

  .catalog {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .catalog__title {
    font-size: 28px;
    line-height: 38px;
  }

  .ui-accordion .ui-accordion-header {
    padding: 20px 0;
    font-size: 18px;
    line-height: 32px;
  }

  .accordion__dropdown {
    width: 30px;
    height: 30px;
  }

  .accordion__dropdown svg {
    width: 12px;
    height: 12px;
  }

  .accordion__content-img {
    max-width: 90px;
    max-height: 130px;
  }

  .accordion__info-title {
    font-size: 18px;
    line-height: 32px;
  }

  .tabs-item__text {
    display: none;
  }

  .accordion__columns-3 {
    display: none;
  }

  .accordion__columns-2 {
    display: none;
  }

  .accordion__columns-1 {
    display: block;
  }

  .events {
    margin-bottom: 50px;
  }

  .events__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .projects {
    margin-bottom: 50px;
  }

  .projects__title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .projects__subtitle {
    font-size: 18px;
    line-height: 32px;
  }

  .projects__swiper {
    width: 70%;
  }

  .contacts {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }

  .contacts__left {
    margin-bottom: 12px;
  }

  .contacts__subtitle {
    font-size: 18px;
    line-height: 24px;
  }

  .contacts__adress {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__input {
    margin-bottom: 20px;
  }

  .contacts__btn {
    font-size: 12px;
    line-height: 16px;
    padding: 12px 35px;
  }

  .contacts__social-item {
    width: 50px;
    height: 50px;
  }

  .contacts__social-link img {
    width: 100%;
    height: 100%;
  }

  .contacts__right .contacts__subtitle {
    margin-bottom: 10px;
  }

  .footer__item-link svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo {
    width: 97px;
    height: 22px;
  }
}

@media (max-width: 320px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__container {
    padding: 168px 29px 45px;
  }

  .hero__title {
    line-height: 38px;
    margin-bottom: 11px;
  }

  .hero__text {
    margin-bottom: 42px;
  }

  .about-us__container {
    padding-bottom: 41px;
  }

  .gallery__title {
    margin-bottom: 11px;
  }

  .gallery__label {
    margin-bottom: 6px;
  }

  .choices {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .gallery__content-left {
    margin-bottom: 5px;
  }

  .gallery__content-right .swiper-wrapper {
    height: 367px;
    margin-bottom: 20px;
  }

  .catalog__title {
    margin-bottom: 13px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 20px 0;
  }

  .tabs-item__img {
    margin-bottom: 18px;
  }

  .tabs-item__name {
    margin-bottom: 9px;
  }

  .tabs-item__info {
    padding-right: 2px;
  }

  .events__item-container {
    padding: 17px 13px 49px 22px;
  }

  .events__date {
    margin-bottom: 11px;
  }

  .events__subtitle {
    margin-bottom: 6px;
  }

  .events__more {
    margin-left: 6px;
  }

  .events__item {
    margin-bottom: 20px;
  }

  .events__slider {
    margin-bottom: 0px;
  }

  .projects__info {
    margin-bottom: 10px;
  }

  .projects__subtitle {
    margin-bottom: 11px;
  }

  .projects__swiper {
    width: 68%;
  }

  .projects__cards {
    height: 65px;
    padding: 20px 45px;
  }

  .contacts__subtitle {
    line-height: 23px;
    margin-bottom: 0;
  }

  .contacts__left {
    margin-bottom: 16px;
  }

  .contacts__input {
    height: 40px;
  }

  .contacts__btn {
    overflow: hidden;
    width: 128px;
    height: 40px;
  }

  .contacts__btn::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "Заказать";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    border-radius: 100px;
  }

  .contacts__middle {
    margin-bottom: 24px;
  }

  .contacts__right .contacts__subtitle {
    letter-spacing: -0.5px;
  }

  #map {
    height: 322px;
  }

  .ymaps-2-1-79-map {
    height: 322px;
  }

  .footer__social {
    margin-bottom: 16px;
  }
}





